body {
    font-family: 'Jura', sans-serif;
    background: radial-gradient(circle, hsl(0, 100%, 70%), hsl(240, 100%, 70%));
    margin: 0; 
    font-weight: 500;
    color: white;
    overflow: hidden;
    transition: background 0.5s; 
}

.container {
    margin-top: 50px;
}

.square {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    background: white;
    animation: fadeout 3.5s forwards, spin 1s infinite linear;
}

#capture-panel{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    text-shadow: 2px 2px 4px #000000;
}

#scoring{
    text-align: right;
}

.number{
    font-size: xx-large;
    font-weight: bold;
    color: #4caf50;
    text-shadow: 2px 2px 4px #000000;
}

.progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
}

.progress-bar {
    height: 10px;
    background-color: hsl(238, 100%, 50%);
    box-shadow: 0 0 10px hsl(238, 100%, 50%);
    transition: background-color 0.5s ease-in-out;
}

@keyframes fadeout{ 
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes scrollaway{
  0% {width: 100%;}
  100% {width: 0%;}
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
